<mat-card class="login-card">
  <form [formGroup]="loginForm">
    <mat-card-header>
      <mat-card-title>Welcome to MAvha To-Do List</mat-card-title>
      <mat-card-subtitle>Please, login to proceed.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="input-full-width">
        <input
          matInput
          formControlName="username"
          placeholder="Email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        (click)="validateAndLogin()"
        mat-raised-button
        color="accent"
      >
        LOGIN
      </button>
    </mat-card-actions>
  </form>
</mat-card>
