:host {
  .login-card {
    width: 320px;
    margin: 0 auto;

    .input-full-width {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
