:host {
  .attachment-download {
    color: #212121;
  }
  .todo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .attach-new .content {
    cursor: pointer;
    position: relative;
  }
  input[type="file"] {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  mat-icon {
    cursor: pointer;
  }

  mat-list-item {
    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  }
}
