<div *ngIf="todo" class="container">
  <h1 class="todo-title">
    <span> ToDo #{{ todo.id }} </span>
    <mat-slide-toggle
      color="primary"
      (change)="changeTodoStatus($event)"
      [checked]="todo.status === 'DONE'"
      >{{ todo.status === "DONE" ? "Done" : "Pending" }}</mat-slide-toggle
    >
  </h1>
  <h2>{{ todo.description }}</h2>
  <mat-list class="attachments-list">
    <mat-list-item
      *ngFor="let attachment of todo.attachments"
      class="mat-elevation-z3"
    >
      <div class="content">
        <div class="actions">
          <a
            class="attachment-download"
            [href]="buildFilePath(attachment.filepath)"
            target="_blank"
          >
            <mat-icon mat-list-icon>cloud_download</mat-icon>
          </a>
          <mat-icon (click)="detachFile(attachment)" mat-list-icon
            >delete</mat-icon
          >
        </div>
        <span>{{ attachment.filename }}</span>
      </div>
    </mat-list-item>
    <mat-list-item class="attach-new" class="mat-elevation-z3">
      <div class="content" (click)="triggerFileUpload()">
        <input type="file" class="filepicker" (change)="attachFile($event)" #file/>
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Attach new file</span>
      </div>
    </mat-list-item>
  </mat-list>
</div>
