<section class="flex-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your Todo List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="filters" class="flex-container space-around">
        <mat-form-field class="input-full-width">
          <input
            matInput
            formControlName="description"
            placeholder="Description"
          />
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Todo Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form [formGroup]="todoForm">
        <mat-form-field class="input-full-width">
          <input
            matInput
            formControlName="description"
            placeholder="New Todo..."
            (keyup)="createNew($event)"
          />
        </mat-form-field>
      </form>
      <mat-nav-list>
        <mat-list-item
          *ngFor="let todo of todoList"
          class="mat-elevation-z3"
          [class.done]="todo.status === 'DONE'"
          (click)="loadTodo(todo)"
        >
          <mavha-todo-list-item
            [todo]="todo"
            (onDelete)="deleteTodo(todo)"
          ></mavha-todo-list-item>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</section>
