<div class="list-item-content">
  <p class="todo-description">{{ todo.description }}</p>
  <div class="icons">
    <mat-icon class="trash-icon material-icon" (click)="deleteTodo($event)"
      >close</mat-icon
    >
  </div>
</div>
