:host {
  width: 100%;
  .list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .todo-description {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1 1 auto;
      padding: 0 10px;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
