:host {
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    &.space-around {
      justify-content: space-around;
    }
  }
  .input-full-width {
    width: 100%;
  }
  mat-card {
    width: calc(100% / 3);
    max-width: 480px;
  }
  mat-nav-list {
    mat-list-item {
      cursor: pointer;
      margin-bottom: 15px;
      &.done {
        background-color: #bdbdbd;
        color: #757575;
      }
    }
  }
}
