<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <mat-icon class="account-icon material-icons">account_circle</mat-icon>
</mat-toolbar>
<section class="main-section">
  <router-outlet></router-outlet>
</section>
